%html
  %head
    %script{src:'/assets/javascripts/application.js'}
    %link{href: '/assets/stylesheets/application.css', rel:'stylesheet', media:'screen', type: 'text/css'}
  %body
    %img{src:'/assets/images/favmonster-logo.png'}
